<% if signed_in? %>
<%= provide(:title, @user.name) %>
<div class="row">
   <aside class="span2">
   <section>
   <h1>
      <%= @user.name %>
      <br>
      <%= gravatar_for @user %>
   </h1>
   </section>
   </aside>

   <div class="span10">
      <h3>
         Tasks (<span id="taskscount"><%= @user.tasks.count %></span>)
         <button type="button" id="addnewtask0" class="addnewtask tooltipped">
            <%= image_tag("list_add_big.png", alt:"Add New Task") %>
            <span>Add a task to the main list</span>
         </button>
      </h3>

      <ul class="tasks" id="tasks0">
         <% if @user.tasks.any? %>
         <%= render @user.tasks, :first_level => true %>
         <% end %>
         <%= render '/tasks/task', :first_level => false %>
         <li id="clonemeprompt" class="task">
            <input class="taskname">
            <div class="taskfunctions">
               <span class="charactercount">75</span> characters left.
               <button type="button" class="savenew"><%= image_tag("accept.png", alt:"Save") %></button>
               <button type="button" class="cancelnew"><%= image_tag("cross.png", alt:"Cancel") %></button>
            </div>
         </li>
      </ul>
   </div>
</div>

<% else %>

   <div class="center hero-unit">
      <h1>Welcome to cTasks</h1>

      <h2>The last To-Do List you'll ever need.</h2>

      <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
   </div>

<% end %>
