<% if signed_in? %>

<%= provide(:title, @user.name) %>
<div class="row">
   <aside class="span2">
   <section>
   <h1>
      <%= @user.name %>
      <br>
      <%= gravatar_for @user %>
   </h1>
   </section>
   </aside>

   <div class="span10">
      <h3>
         Tasks (<%= @user.tasks.count %>)
         <button type="button" id="addnewtask0" class="addnewtask">
            <%= image_tag("list_add_big.png", alt:"Add New Task") %>
         </button>
         <button type="button" id="showhidden" class="togglehidden" onClick="ShowHidden()">
            <%= image_tag("eye_big.png", alt:"Show Hidden Tasks") %>
         </button>
         <button type="button" id="hidehidden" class="togglehidden hideme" onClick="HideHidden()">
            <%= image_tag("eye_close_big.png", alt:"Don't Show Hidden Tasks") %>
         </button>
      </h3>

      <ul class="tasks" id="tasks0">
         <% if @user.tasks.any? %>
         <%= render @user.tasks, :first_level => true %>
         <% end %>
         <%= render '/tasks/task', :first_level => false %>
      </ul>
   </div>
</div>

<% else %>

   <div class="center hero-unit">
      <h1>Welcome to cTasks</h1>

      <h2>The last To-Do List you'll ever need.</h2>

      <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
   </div>

<% end %>
