<% unless task %>
<% task = Task.new() %>
<% end %>
<% unless task.parent_id != 0 && first_level == true %>
<li id="task<%= task.id %>" class="task accordion">
<span class="tooltipped <% if task.tasks.any? && task.id %>togglehidetasks<% end %>" id="togglehidetasks<%= task.id %>">
<% if task.tasks.any? %>
   <% if task.hidden %>
      <%= image_tag("accordion_closed.png", alt:"Add New Task") %>
   <% else %>
      <%= image_tag("accordion_opened.png", alt:"Add New Task") %>
   <% end %>
<% else %>
   <%= image_tag("accordion_blank.png", alt:"Add New Task") %>
<% end %>
<span>Click to expand/collapse the sub-tasks of this task.</span>
</span>
<input autocomplete="off" class="taskname" id="taskname<%= task.id %>" value="<%= task.name %>">

<span class="taskfunctions" id="taskfunctions<%= task.id %>">
   <button type="button" id="addnewtask<%= task.id %>" class="addnewtask">
      <%= image_tag("add_child_file.png", alt:"Add New Task") %>
   </button>
   <button type="button" id="promptdelete<%= task.id %>" class="promptdelete">
      <%= image_tag("list_delete_small.png", alt:"Delete Task") %>
   </button>

   <%= image_tag("sortable.png", alt:"Sort Task", class:"handle") %>
</span>

<div class="deleteprompt">
   Are you sure you want to delete this task and all child tasks?
   <button type="button" class="canceldelete"><%= image_tag("cross.png", alt:"Cancel") %></button>
   <button type="button" class="confirmdelete" id="confirmdelete<%= task.id %>"><%= image_tag("accept.png", alt:"Save") %></button>
</div>

<ul class="tasks <% if task.hidden %>collapse<% end %>" id="tasks<%= task.id %>" >
   <% if task.tasks.any? %>
   <%= render task.tasks, :first_level => false %>
   <% end %>
</ul>
</li>
<% end %>
